<h1><%= @restaurant.name %></h1>
<br>
<p>Hi there we specialise in <%= @restaurant.category %> food. If you want to come along you can visit us at <%= @restaurant.address %> give us a ring on <%= @restaurant.phone_number %> and make a booking 👑</p>
<br>
<p><%= link_to "Want to see some reviews?", restaurant_reviews_path %></p>
